body{
    background-image: url(/assets/doom-game-texture-wallpaper-preview.jpg);
    background-repeat: repeat x;
    background-repeat: repeat y;
}

.Monstersbtn {
    width: 5fr;
    border: 1px solid white;
}

.Weaponsbtn {
    border: 1px solid white;
    
}
.maps {
    width: 5fr;
    border: 1px solid white;
}
.cheatCodes {
    width: 5fr;
    border: 1px solid white;
    scale: 0.5;
}

.MainBtns {
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: scale(0.5);
    
}

.MainText {
    text-align: center;
    width: 900px;
    margin-top: 75px;
}

.boxBack {
    margin-left: 420px;
    background-color: black;
    position: static;
    padding-left: 80px;
    width: 1000px;
    height: 1600px;
}

.monsters {
    margin-top: 50px;
    margin-left: -50px;
    margin-right: 40px;
}

.Imp {
    display: flex;
    flex-direction: row;
}

.ImpImg {
    margin-bottom: 70px;
    width: 25%;
    height: auto;
}

.PinkieImg {
    width: 25%;
    height: auto;
}

.Pinkie {
    display: flex;
    flex-direction: row;

}

.LostSoulImg {
    margin: 60px;
    width: 170px;
    height: auto;
}

.LostSoul {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.LostSoulText {
    margin-top: 40px;
}

.BaronOfHellImg {
    width: 250px;
    
}

.BaronOfHell {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
}

.MeatBall {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.MeatBallImg {
    width: 200px;
    height: auto;
    margin: 25px;
}

.topMenu {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: black;

}

.DoomWikiTopMenu {
    margin-left: 20px;
}

.MonstersTopMenu {
    margin-left: 80px;
    padding: 10px;
    border: 1px solid white;
    color: red;
    text-decoration: none;
}

.WeaponsTopMenu {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid white;
    color: red;
    text-decoration: none;
}
.CheatCodesTopMenu {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid white;
    color: red;
    text-decoration: none;
}
.MapsTopMenu {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid white;
    color: red;
    text-decoration: none;
}
.AboutTopMenu {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid white;
    color: red;
    text-decoration: none;
}

